
<% @listings.each do |l| %>
	<div class="booyah-box col-xs-6 col-xs-offset-3">
		<h2><%= l.year %> <%= l.make %> <%= l.model %> <%= l.submodel %></h2><br />
		<ul>
			<li><%= l.mileage %></li>
			<li><%= l.wheelsize %></li>
			<li><%= l.description %></li>
		</ul>
	</div>
<% end %>
	
